In [2]:
import numpy as np
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

In [4]:
df = pd.read_csv('Allstorms-Copy1.ibtracs_wmo.v03r05.csv')

In [5]:
df.head()

,Serial_Num,Season,Num,Basin,Sub_basin,Name,ISO_time,Nature,Latitude,Longitude,Wind(WMO),Pres(WMO),Center,Wind(WMO) Percentile,Pres(WMO) Percentile,Track_type
0,1848011S09080,1848,2,SI,MM,XXXX848003,1848-01-11 06:00:00,NR,-8.6,79.8,0.0,0.0,reunion,-100.0,-100.0,main
1,1848011S09080,1848,2,SI,MM,XXXX848003,1848-01-12 06:00:00,NR,-9.0,78.9,0.0,0.0,reunion,-100.0,-100.0,main
2,1848011S09080,1848,2,SI,MM,XXXX848003,1848-01-13 06:00:00,NR,-10.4,73.2,0.0,0.0,reunion,-100.0,-100.0,main
3,1848011S09080,1848,2,SI,MM,XXXX848003,1848-01-14 06:00:00,NR,-12.8,69.9,0.0,0.0,reunion,-100.0,-100.0,main
4,1848011S09080,1848,2,SI,MM,XXXX848003,1848-01-15 06:00:00,NR,-13.9,68.9,0.0,0.0,reunion,-100.0,-100.0,main

In [7]:
serialGroup = df.groupby('Serial_Num')

In [8]:
serialGroup

In [9]:
pos = serialGroup[['Latitude', 'Longitude']].mean()

In [10]:
pos.head()

                Latitude  Longitude
Serial_Num
1848011S09080 -15.918182  71.854545
1848011S15057 -24.116667  52.016667
1848061S12075 -20.528571  65.342857
1851080S15063 -17.325000  55.400000
1851080S21060 -23.633333  60.200000