In [1]:
1 + 1

[1] 2

In [2]:
100:130

 [1] 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118
[20] 119 120 121 122 123 124 125 126 127 128 129 130

In [3]:
a <- 1

In [4]:
a + 2

[1] 3

In [5]:
die <- 1:6

In [6]:
die

[1] 1 2 3 4 5 6

In [7]:
ls()

[1] "a"   "die"

In [8]:
die + 1

[1] 2 3 4 5 6 7

In [9]:
1:2

[1] 1 2

In [10]:
die + 1:2

[1] 2 4 4 6 6 8

In [11]:
die %*% die

     [,1]
[1,] 91

In [12]:
die * die

[1]  1  4  9 16 25 36

In [16]:
die %o% die

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1     2    3    4    5    6
[2,] 2     4    6    8   10   12
[3,] 3     6    9   12   15   18
[4,] 4     8   12   16   20   24
[5,] 5    10   15   20   25   30
[6,] 6    12   18   24   30   36

In [17]:
round(3.15, digits = 2)

[1] 3.15

In [18]:
round(3.141545, digits = 2)

[1] 3.14

In [19]:
mean(die)

[1] 3.5

In [21]:
sample(die, size = 4)

[1] 2 6 3 1

In [22]:
args(sample)

function (x, size, replace = FALSE, prob = NULL)
NULL

In [24]:
args(round)

function (x, digits = 0)
NULL

In [25]:
sample(die, size = 2, replace = TRUE)

[1] 5 6

In [26]:
roll <- function(){
    dice <- sample(die, size = 2, replace = TRUE)
    sum(dice)
}

In [27]:
roll()

[1] 4

In [28]:
roll()

[1] 7

In [34]:
roll2 <- function(bones){
    dice <-sample(bones, size = 2, replace = TRUE)
    sum(dice)
}

In [35]:
roll2(1:6)

[1] 4