In [1]:
die <- c(1,2,3,4,5,6)

In [2]:
is.vector(die)

[1] TRUE

In [3]:
length(die)

[1] 6

In [4]:
int <- 1L

In [5]:
text <- "ace"

In [6]:
typeof(c)

[1] "builtin"

In [7]:
typeof(die)

[1] "double"

In [8]:
text <- c("Hello","World")

In [9]:
text

[1] "Hello" "World"

In [10]:
typeof(text)

[1] "character"

In [11]:
typeof("Hello")

[1] "character"

In [12]:
3>4

[1] FALSE

In [13]:
logic <- c(TRUE,FALSE,TRUE)

In [14]:
logic

[1]  TRUE FALSE  TRUE

In [15]:
typeof(F)

[1] "logical"

In [16]:
comp <- c(1+1i,1+2i,1+3i)

In [17]:
comp

[1] 1+1i 1+2i 1+3i

In [18]:
typeof(comp)

[1] "complex"

In [19]:
raw(3)

[1] 00 00 00

In [20]:
typeof(raw(3))

[1] "raw"

In [21]:
hand <- c("ace","king","queen","jack","tec")

In [22]:
typeof(hand)

[1] "character"

In [23]:
attributes(die)

NULL

In [24]:
names(die)

NULL

In [25]:
names(die) <- c("one","two","three","four","five","six")

In [26]:
names(die)

[1] "one"   "two"   "three" "four"  "five"  "six"

In [27]:
attributes(die)

$names
[1] "one"   "two"   "three" "four"  "five"  "six"

In [28]:
die

  one   two three  four  five   six
    1     2     3     4     5     6

In [29]:
dim(die) <- c(2,3)

In [30]:
die

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [31]:
dim(die) <- c(3,2)

In [32]:
die

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

In [33]:
nineDice <- c(1:8)

In [34]:
nineDice

[1] 1 2 3 4 5 6 7 8

In [35]:
dim(nineDice) <- c(2,4)

In [36]:
nineDice

     [,1] [,2] [,3] [,4]
[1,] 1    3    5    7
[2,] 2    4    6    8

### matrxi

In [37]:
m <- matrix(die,nrow=2)

In [38]:
m

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [39]:
m <- matrix(die,nrow=2,byrow=TRUE)

In [40]:
m

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6

### array

In [41]:
arr <- array(c(11:14,21:24,31:34),dim=c(2,2,3))

In [42]:
arr

, , 1

     [,1] [,2]
[1,]   11   13
[2,]   12   14

, , 2

     [,1] [,2]
[1,]   21   23
[2,]   22   24

, , 3

     [,1] [,2]
[1,]   31   33
[2,]   32   34

In [43]:
hand1 <- c("ace", "king", "queen", "jack", "ten", "spades", "spades",    "spades", "spades", "spades")

In [44]:
hand1

 [1] "ace"    "king"   "queen"  "jack"   "ten"    "spades" "spades" "spades"
 [9] "spades" "spades"

In [45]:
matrix(hand1,nrow=5)

     [,1]  [,2]
[1,] ace   spades
[2,] king  spades
[3,] queen spades
[4,] jack  spades
[5,] ten   spades

In [46]:
matrix(hand1,ncol=2)

     [,1]  [,2]
[1,] ace   spades
[2,] king  spades
[3,] queen spades
[4,] jack  spades
[5,] ten   spades

In [47]:
die

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

### class

In [48]:
dim(die) <- c(2,3)

In [49]:
typeof(die)

[1] "double"

In [50]:
class(die)

[1] "matrix"

In [51]:
attributes(die)

$dim
[1] 2 3

### date and time

In [52]:
now <- Sys.time()

In [53]:
now

[1] "2018-04-07 01:43:39 CST"

In [54]:
typeof(now)

[1] "double"

In [55]:
class(now)

[1] "POSIXct" "POSIXt"

In [56]:
mil <- 10000000000

In [57]:
mil

[1] 1e+10

In [58]:
class(mil) <- c("POSIXct","POSIXt")

In [59]:
mil

[1] "2286-11-21 01:46:40 CST"

### factor

In [60]:
gender <- factor(c("male","female","female","male"))

In [61]:
typeof(gender)

[1] "integer"

In [62]:
attributes(gender)

$levels
[1] "female" "male"

$class
[1] "factor"

In [63]:
gender

[1] male   female female male
Levels: female male

In [64]:
as.character(gender)

[1] "male"   "female" "female" "male"

### type trans

In [65]:
sum(c(TRUE,TRUE,FALSE,TRUE))

[1] 3

In [66]:
as.character(1)

[1] "1"

In [67]:
as.logical(1)

[1] TRUE

In [68]:
as.numeric(FALSE)

[1] 0

### list

In [69]:
list1 <- list(100:130,"R",list(TRUE,FALSE))

In [70]:
list1

[[1]]
 [1] 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118
[20] 119 120 121 122 123 124 125 126 127 128 129 130

[[2]]
[1] "R"

[[3]]
[[3]][[1]]
[1] TRUE

[[3]][[2]]
[1] FALSE

### dataFrame

In [71]:
df <- data.frame(face=c("ace","two","six"),
                 suit=c("clubs","clubs","clubs"),
                 value=c(1,2,3))

In [72]:
df

  face suit  value
1 ace  clubs 1
2 two  clubs 2
3 six  clubs 3

In [73]:
typeof(df)

[1] "list"

In [74]:
l=list(face="ace",suit="hearts",value=1)

In [75]:
l

$face
[1] "ace"

$suit
[1] "hearts"

$value
[1] 1

In [76]:
attributes(l)

$names
[1] "face"  "suit"  "value"

In [77]:
typeof(df)

[1] "list"

In [79]:
str(df)

'data.frame':	3 obs. of  3 variables:
 $ face : Factor w/ 3 levels "ace","six","two": 1 3 2
 $ suit : Factor w/ 1 level "clubs": 1 1 1
 $ value: num  1 2 3

In [80]:
df <- data.frame(face = c("ace", "two", "six"),    suit = c("clubs", "clubs", "clubs"), value = c(1, 2, 3),    stringsAsFactors = FALSE)

In [81]:
df

  face suit  value
1 ace  clubs 1
2 two  clubs 2
3 six  clubs 3