In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r'/usr/local/codePro/bookCode/hands-on-time-series-analylsis-python-master/Data/daily-total-female-births-CA.csv',
                  )

In [5]:
df.head()

         date  births
0  1959-01-01      35
1  1959-01-02      32
2  1959-01-03      30
3  1959-01-04      31
4  1959-01-05      44

In [6]:
df.describe()

           births
count  365.000000
mean    41.980822
std      7.348257
min     23.000000
25%     37.000000
50%     42.000000
75%     46.000000
max     73.000000