In [1]:
import py2neo
import tqdm
import pandas as pd

from tqdm import tqdm
from py2neo import Graph,Node,Relationship,NodeMatcher,Subgraph

In [2]:
# pandas-style!
def color_negative_red(val):
    color = 'red' if val < 0 else 'black' 
    return 'color: %s' % color 
# df.style.applymap(color_negative_red)

In [3]:
# pandas-num-option!
pd.options.display.max_columns = 50  # None -> No Restrictions
pd.options.display.max_rows = 200    # None -> Be careful with this
pd.options.display.max_colwidth = 100
pd.options.display.precision = 3

In [4]:
saoHei=Graph('http://hapark02:3447',user = 'neo4j', password = '123')

In [5]:
sgccCompanyDF = pd.read_csv('/usr/local/codeData/saoHei/sgcc-company.csv')

In [6]:
supplierCompanyDF = pd.read_csv('/usr/local/codeData/saoHei/supplier-company.csv')

In [7]:
# pandas-table-style!
sgccCompanyDF.head(10).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [8]:
# pandas-table-style!
supplierCompanyDF.head(10).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [9]:
nodes = []

In [10]:
for i, row in tqdm(sgccCompanyDF.iterrows()):
    sgcc_company_node = Node("sgcc_company_node",name=row[sgccCompanyDF.columns[0]])
    saoHei.merge(sgcc_company_node,"sgcc_company_node","name")

8it [00:00, 102.50it/s]

In [11]:
for i, row in tqdm(supplierCompanyDF.iterrows()):
    supplier_company_node = Node("supplier_company_node",name=row[sgccCompanyDF.columns[0]])
    saoHei.merge(supplier_company_node,"supplier_company_node","name")

5it [00:00, 71.33it/s]