In [2]:
import py2neo
import tqdm
import pandas as pd

from tqdm import tqdm
from py2neo import Graph,Node,Relationship,NodeMatcher,Subgraph

In [2]:
# pandas-style!
def color_negative_red(val):
    color = 'red' if val < 0 else 'black' 
    return 'color: %s' % color 
# df.style.applymap(color_negative_red)

In [3]:
# pandas-num-option!
pd.options.display.max_columns = 50  # None -> No Restrictions
pd.options.display.max_rows = 200    # None -> Be careful with this
pd.options.display.max_colwidth = 100
pd.options.display.precision = 3

In [4]:
saoHei=Graph('http://hapark02:3447',user = 'neo4j', password = '123')

In [5]:
sgccCompanyDF = pd.read_csv('/usr/local/codeData/saoHei/sgcc-company.csv')

In [6]:
sgccPeopleDF = pd.read_csv('/usr/local/codeData/saoHei/sgcc-people.csv')

In [7]:
supplierCompanyDF = pd.read_csv('/usr/local/codeData/saoHei/supplier-company.csv')

In [8]:
supplierPeopleDF = pd.read_csv('/usr/local/codeData/saoHei/supplier-people.csv')

In [9]:
yiliDF = pd.read_csv('/usr/local/codeData/saoHei/yili-Department.csv')

In [10]:
yiliPeopleDF = pd.read_csv('/usr/local/codeData/saoHei/yili-people.csv')

In [11]:
projectDF = pd.read_csv('/usr/local/codeData/saoHei/project.csv')

In [12]:
developDF = pd.read_csv('/usr/local/codeData/saoHei/develop.csv')

In [4]:
sgccRelationShipDF = pd.read_csv('/usr/local/codeData/saoHei/sgcc-relationships.csv')

In [13]:
# pandas-table-style!
sgccCompanyDF.head(20).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [14]:
# pandas-table-style!
sgccPeopleDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [15]:
# pandas-table-style!
supplierCompanyDF.head(10).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [16]:
# pandas-table-style!
supplierPeopleDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [17]:
# pandas-table-style!
projectDF.head(20).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [18]:
# pandas-table-style!
yiliDF.head(20).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [19]:
# pandas-table-style!
developDF.head(20).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [20]:
# pandas-table-style!
yiliPeopleDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [5]:
# pandas-table-style!
sgccRelationShipDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [21]:
for i, row in tqdm(sgccPeopleDF.iterrows()):
    sgcc_people_node = Node("sgcc_people",name=row[sgccPeopleDF.columns[0]])
    saoHei.merge(sgcc_people_node,"sgcc_people","name")

13it [00:00, 109.54it/s]

In [22]:
for i, row in tqdm(supplierCompanyDF.iterrows()):
    supplier_company_node = Node("supplier_company",name=row[sgccCompanyDF.columns[0]])
    saoHei.merge(supplier_company_node,"supplier_company","name")

9it [00:00, 125.09it/s]

In [23]:
for i, row in tqdm(supplierPeopleDF.iterrows()):
    supplier_people_node = Node("supplier_people",name=row[sgccPeopleDF.columns[0]])
    saoHei.merge(supplier_people_node,"supplier_people","name")

19it [00:00, 121.64it/s]

In [24]:
for i, row in tqdm(yiliDF.iterrows()):
    yili_department_node = Node("yili-Department",name=row[yiliDF.columns[0]])
    saoHei.merge(yili_department_node,"yili-Department","name")

10it [00:00, 113.77it/s]

In [25]:
for i, row in tqdm(projectDF.iterrows()):
    project_node = Node("project",name=row[projectDF.columns[0]])
    saoHei.merge(project_node,"project","name")

10it [00:00, 118.72it/s]

In [26]:
for i, row in tqdm(developDF.iterrows()):
    develop_node = Node("develop",name=row[developDF.columns[0]])
    saoHei.merge(develop_node,"develop","name")

8it [00:00, 124.27it/s]

In [27]:
for i, row in tqdm(yiliPeopleDF.iterrows()):
    yiliPeople_node = Node("yiliPeople",name=row[yiliPeopleDF.columns[0]])
    saoHei.merge(yiliPeople_node,"yiliPeople","name")

22it [00:00, 122.14it/s]

In [28]:
for i, row in tqdm(sgccCompanyDF.iterrows()):
    sgcc_company_node = Node("sgcc_company",name=row[sgccCompanyDF.columns[0]])
    saoHei.merge(sgcc_company_node,"sgcc_company","name")

11it [00:00, 123.60it/s]