In [1]:
import py2neo
import tqdm
import pandas as pd

from tqdm import tqdm
from py2neo import Graph,Node,Relationship,NodeMatcher,Subgraph

In [2]:
# pandas-style!
def color_negative_red(val):
    color = 'red' if val < 0 else 'black' 
    return 'color: %s' % color 
# df.style.applymap(color_negative_red)

In [3]:
# pandas-num-option!
pd.options.display.max_columns = 50  # None -> No Restrictions
pd.options.display.max_rows = 200    # None -> Be careful with this
pd.options.display.max_colwidth = 100
pd.options.display.precision = 3

In [4]:
saoHei=Graph('http://hapark02:3447',user = 'neo4j', password = '123')

In [5]:
sgccCompanyDF = pd.read_csv('/usr/local/codeData/saoHei/sgcc-company.csv')

In [6]:
sgccPeopleDF = pd.read_csv('/usr/local/codeData/saoHei/sgcc-people.csv')

In [7]:
supplierCompanyDF = pd.read_csv('/usr/local/codeData/saoHei/supplier-company.csv')

In [8]:
supplierPeopleDF = pd.read_csv('/usr/local/codeData/saoHei/supplier-people.csv')

In [9]:
yiliDF = pd.read_csv('/usr/local/codeData/saoHei/yili-Department.csv')

In [10]:
yiliPeopleDF = pd.read_csv('/usr/local/codeData/saoHei/yili-people.csv')

In [11]:
projectDF = pd.read_csv('/usr/local/codeData/saoHei/project.csv')

In [12]:
developDF = pd.read_csv('/usr/local/codeData/saoHei/develop.csv')

In [13]:
sgccRelationShipDF = pd.read_csv('/usr/local/codeData/saoHei/sgcc-relationships.csv')

In [14]:
sgccPeopleRelationShipDF = pd.read_csv('/usr/local/codeData/saoHei/sgcc-people-relationships.csv')

In [15]:
sgccPeopleCompanyRelationShipDF = pd.read_csv('/usr/local/codeData/saoHei/sgcc-people-company-relationships.csv')

In [16]:
yiliRelationShipDF = pd.read_csv('/usr/local/codeData/saoHei/yili-relationships.csv')

In [17]:
yiliPeopleCompanyRelationShipDF = pd.read_csv('/usr/local/codeData/saoHei/yili-people-company-relationships.csv')

In [18]:
yiliPeopleRelationShipDF = pd.read_csv('/usr/local/codeData/saoHei/yili-people-relationship.csv')

In [19]:
yiliSgccPeopleCompanyRelationShipDF = pd.read_csv('/usr/local/codeData/saoHei/yili-sgcc-people-company-relationships.csv')

In [20]:
# pandas-table-style!
sgccCompanyDF.head(20).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [21]:
# pandas-table-style!
sgccPeopleDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [22]:
# pandas-table-style!
supplierCompanyDF.head(10).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [23]:
# pandas-table-style!
supplierPeopleDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [24]:
# pandas-table-style!
projectDF.head(20).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [25]:
# pandas-table-style!
yiliDF.head(20).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [26]:
# pandas-table-style!
developDF.head(20).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [27]:
# pandas-table-style!
yiliPeopleDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [28]:
# pandas-table-style!
sgccRelationShipDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [29]:
# pandas-table-style!
sgccPeopleRelationShipDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [30]:
# pandas-table-style!
sgccPeopleCompanyRelationShipDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [31]:
# pandas-table-style!
yiliRelationShipDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [32]:
# pandas-table-style!
yiliPeopleCompanyRelationShipDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [33]:
# pandas-table-style!
yiliPeopleRelationShipDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [34]:
# pandas-table-style!
yiliSgccPeopleCompanyRelationShipDF.head(30).style.set_table_styles(
[{'selector': 'tr:nth-of-type(odd)','props': [('background', 'eee')]},
 {'selector': 'tr:nth-of-type(even)','props': [('background', 'white')]},
 {'selector': 'th','props': [('background', '#606060'), 
                             ('color', 'white'),
                             ('font-family', 'verdana')]},
 {'selector': 'td','props': [('font-family', 'verdana')]}
])

In [35]:
for i, row in tqdm(sgccPeopleDF.iterrows()):
    sgcc_people_node = Node("sgcc_people",name=row[sgccPeopleDF.columns[0]])
    saoHei.merge(sgcc_people_node,"sgcc_people","name")

13it [00:00, 124.58it/s]

In [36]:
for i, row in tqdm(supplierCompanyDF.iterrows()):
    supplier_company_node = Node("supplier_company",name=row[sgccCompanyDF.columns[0]])
    saoHei.merge(supplier_company_node,"supplier_company","name")

9it [00:00, 128.27it/s]

In [37]:
for i, row in tqdm(supplierPeopleDF.iterrows()):
    supplier_people_node = Node("supplier_people",name=row[sgccPeopleDF.columns[0]])
    saoHei.merge(supplier_people_node,"supplier_people","name")

19it [00:00, 135.27it/s]

In [38]:
for i, row in tqdm(yiliDF.iterrows()):
    yili_department_node = Node("yili-Department",name=row[yiliDF.columns[0]])
    saoHei.merge(yili_department_node,"yili-Department","name")

8it [00:00, 140.21it/s]

In [39]:
for i, row in tqdm(projectDF.iterrows()):
    project_node = Node("project",name=row[projectDF.columns[0]])
    saoHei.merge(project_node,"project","name")

10it [00:00, 136.54it/s]

In [40]:
for i, row in tqdm(developDF.iterrows()):
    develop_node = Node("develop",name=row[developDF.columns[0]])
    saoHei.merge(develop_node,"develop","name")

8it [00:00, 143.39it/s]

In [41]:
for i, row in tqdm(yiliPeopleDF.iterrows()):
    yiliPeople_node = Node("yiliPeople",name=row[yiliPeopleDF.columns[0]])
    saoHei.merge(yiliPeople_node,"yiliPeople","name")

22it [00:00, 138.81it/s]

In [42]:
for i, row in tqdm(sgccCompanyDF.iterrows()):
    sgcc_company_node = Node("sgcc_company",name=row[sgccCompanyDF.columns[0]])
    saoHei.merge(sgcc_company_node,"sgcc_company","name")

12it [00:00, 138.26it/s]

In [43]:
for i, row in tqdm(sgccRelationShipDF.iterrows()):
    
    startNodeName, endNodeName ,relationType = [row[j] for j in range(3)]
    startNode = saoHei.nodes.match("sgcc_company", name = startNodeName).first()
    endNode = saoHei.nodes.match("sgcc_company", name = endNodeName).first()
    sgcc_company_relationship = Relationship(startNode,relationType,endNode)
    
    saoHei.create(sgcc_company_relationship)

12it [00:00, 76.50it/s]

In [44]:
for i, row in tqdm(sgccPeopleRelationShipDF.iterrows()):
    
    startNodeName, endNodeName ,relationType = [row[j] for j in range(3)]
    startNode = saoHei.nodes.match("sgcc_people", name = startNodeName).first()
    endNode = saoHei.nodes.match("sgcc_people", name = endNodeName).first()
    sgcc_people_relationship = Relationship(startNode,relationType,endNode)
    
    saoHei.create(sgcc_people_relationship)

6it [00:00, 87.94it/s]

In [45]:
for i, row in tqdm(sgccPeopleCompanyRelationShipDF.iterrows()):
    
    startNodeName, endNodeName ,relationType = [row[j] for j in range(3)]
    startNode = saoHei.nodes.match("sgcc_people", name = startNodeName).first()
    endNode = saoHei.nodes.match("sgcc_company", name = endNodeName).first()
    sgcc_people_company_relationship = Relationship(startNode,relationType,endNode)
    
    saoHei.create(sgcc_people_company_relationship)

11it [00:00, 12.70it/s]

In [46]:
for i, row in tqdm(yiliRelationShipDF.iterrows()):
    
    startNodeName, endNodeName ,relationType = [row[j] for j in range(3)]
    startNode = saoHei.nodes.match("yili-Department", name = startNodeName).first()
    endNode = saoHei.nodes.match("sgcc_company", name = endNodeName).first()
    yili_department_relationship = Relationship(startNode,relationType,endNode)
    
    saoHei.create(yili_department_relationship)

8it [00:00, 82.77it/s]

In [47]:
for i, row in tqdm(yiliPeopleCompanyRelationShipDF.iterrows()):
    
    startNodeName, endNodeName ,relationType = [row[j] for j in range(3)]
    startNode = saoHei.nodes.match("yiliPeople", name = startNodeName).first()
    endNode = saoHei.nodes.match("yili-Department", name = endNodeName).first()
   # print(startNodeName+"|"+endNodeName+"|"+relationType)
    yili_people_company_relationship = Relationship(startNode,relationType,endNode)
    
    saoHei.create(yili_people_company_relationship)

12it [00:00, 65.91it/s]

In [48]:
for i, row in tqdm(yiliPeopleRelationShipDF.iterrows()):
    
    startNodeName, endNodeName ,relationType = [row[j] for j in range(3)]
    startNode = saoHei.nodes.match("yiliPeople", name = startNodeName).first()
    endNode = saoHei.nodes.match("yiliPeople", name = endNodeName).first()
   # print(startNodeName+"|"+endNodeName+"|"+relationType)
    yili_people_relationship = Relationship(startNode,relationType,endNode)
    
    saoHei.create(yili_people_relationship)

8it [00:00, 61.09it/s]

In [ ]:
for i, row in tqdm(yiliSgccPeopleCompanyRelationShipDF.iterrows()):
    
    startNodeName, endNodeName ,relationType = [row[j] for j in range(3)]
    startNode = saoHei.nodes.match("yiliPeople", name = startNodeName).first()
    endNode = saoHei.nodes.match("sgcc_company", name = endNodeName).first()
   # print(startNodeName+"|"+endNodeName+"|"+relationType)
    yili_sgcc_people_company_relationship = Relationship(startNode,relationType,endNode)
    
    saoHei.create(yili_sgcc_people_company_relationship)