In [1]:
myvars <- c("mpg","hp","wt")

In [2]:
head(myvars)

[1] "mpg" "hp"  "wt"

In [3]:
head(mtcars[myvars])

                  mpg  hp  wt
Mazda RX4         21.0 110 2.620
Mazda RX4 Wag     21.0 110 2.875
Datsun 710        22.8  93 2.320
Hornet 4 Drive    21.4 110 3.215
Hornet Sportabout 18.7 175 3.440
Valiant           18.1 105 3.460

In [4]:
summary(mtcars[myvars])

      mpg              hp              wt
 Min.   :10.40   Min.   : 52.0   Min.   :1.513
 1st Qu.:15.43   1st Qu.: 96.5   1st Qu.:2.581
 Median :19.20   Median :123.0   Median :3.325
 Mean   :20.09   Mean   :146.7   Mean   :3.217
 3rd Qu.:22.80   3rd Qu.:180.0   3rd Qu.:3.610
 Max.   :33.90   Max.   :335.0   Max.   :5.424

In [5]:
options(digits=2)

In [6]:
Student <- c("John Davis", "Angela Williams", "Bullwinkle Moose",                    
            "David Jones", "Janice Markhammer", "Cheryl Cushing",                    
            "Reuven Ytzrhak", "Greg Knox", "Joel England",                    
            "Mary Rayburn")

In [7]:
math <- c(502, 600, 412, 358, 495, 512, 410, 625, 573, 522)     
Science <- c(95, 99, 80, 82, 75, 85, 80, 95, 89, 86)     
English <- c(25, 22, 18, 15, 20, 28, 15, 30, 27, 18)

In [9]:
roster <- data.frame(Student,math,Science,English,stringsAsFactors=FALSE)

In [10]:
roster

   Student           math Science English
1  John Davis        502  95      25
2  Angela Williams   600  99      22
3  Bullwinkle Moose  412  80      18
4  David Jones       358  82      15
5  Janice Markhammer 495  75      20
6  Cheryl Cushing    512  85      28
7  Reuven Ytzrhak    410  80      15
8  Greg Knox         625  95      30
9  Joel England      573  89      27
10 Mary Rayburn      522  86      18

In [13]:
z <- scale(roster[,2:4])

In [14]:
z

      math   Science English
 [1,]  0.013  1.078   0.587
 [2,]  1.143  1.591   0.037
 [3,] -1.026 -0.847  -0.697
 [4,] -1.649 -0.590  -1.247
 [5,] -0.068 -1.489  -0.330
 [6,]  0.128 -0.205   1.137
 [7,] -1.049 -0.847  -1.247
 [8,]  1.432  1.078   1.504
 [9,]  0.832  0.308   0.954
[10,]  0.243 -0.077  -0.697