In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
df3 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                    'key2': ['K0', 'K1', 'K0', 'K1'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})
df4 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                    'key2': ['K0', 'K0', 'K0', 'K0'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

In [4]:
df1

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3

In [5]:
df2

    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K3

In [6]:
df3

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1

In [7]:
df4

    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0

In [8]:
print(pd.merge(df1,df2,on='key'))

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [9]:
print(pd.merge(df3,df4,on=['key1','key2'],how='inner'))

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [10]:
print(pd.merge(df3,df4,on=['key1','key2'],how='outer'))

     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3

In [11]:
print(pd.merge(df3,df4,on=['key1','key2'],how='left'))

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1  NaN  NaN

In [12]:
print(pd.merge(df3,df4,on=['key1','key2'],how='right'))

     A    B key1 key2   C   D
0   A0   B0   K0   K0  C0  D0
1   A2   B2   K1   K0  C1  D1
2   A2   B2   K1   K0  C2  D2
3  NaN  NaN   K2   K0  C3  D3

In [13]:
df5 = pd.DataFrame({'lkey':list('bbacaab'),
                   'data1':range(7)})
df6 = pd.DataFrame({'rkey':list('abd'),
                   'date2':range(3)})

In [14]:
df5

   data1 lkey
0      0    b
1      1    b
2      2    a
3      3    c
4      4    a
5      5    a
6      6    b

In [15]:
df6

   date2 rkey
0      0    a
1      1    b
2      2    d

In [16]:
df7 = pd.DataFrame({'key':list('abcdfeg'),
                   'data1':range(7)})
df8 = pd.DataFrame({'date2':range(100,105)},
                  index = list('abcde'))

In [17]:
df7

   data1 key
0      0   a
1      1   b
2      2   c
3      3   d
4      4   f
5      5   e
6      6   g

In [18]:
df8

   date2
a    100
b    101
c    102
d    103
e    104

In [19]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([2,3,4])

In [20]:
print(pd.concat([s1,s2]))

0    1
1    2
2    3
0    2
1    3
2    4
dtype: int64

In [21]:
s3 = pd.Series([1,2,3],index = ['a','c','h'])
s4 = pd.Series([2,3,4],index = ['b','e','d'])
s5 = pd.Series([5,6,7],index = ['a','e','d'])

In [22]:
s3

a    1
c    2
h    3
dtype: int64

In [23]:
s4

b    2
e    3
d    4
dtype: int64

In [24]:
print(pd.concat([s3,s4]).sort_index())

a    1
b    2
c    2
d    4
e    3
h    3
dtype: int64

In [25]:
print(pd.concat([s3,s4],axis=1))

     0    1
a  1.0  NaN
b  NaN  2.0
c  2.0  NaN
d  NaN  4.0
e  NaN  3.0
h  3.0  NaN

In [26]:
print(pd.concat([s3,s5],axis=1))

     0    1
a  1.0  5.0
c  2.0  NaN
d  NaN  7.0
e  NaN  6.0
h  3.0  NaN

In [27]:
s9 = pd.Series([1,1,1,1,2,2,2,3,4,5,5,5,5])

In [28]:
print(s9.duplicated())

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8     False
9     False
10     True
11     True
12     True
dtype: bool

In [29]:
print(s9[s9.duplicated()==True])

1     1
2     1
3     1
5     2
6     2
10    5
11    5
12    5
dtype: int64

In [30]:
s10=s9.drop_duplicates()

In [31]:
s10

0    1
4    2
7    3
8    4
9    5
dtype: int64

In [32]:
df11 = pd.DataFrame({'key1':['a','a',3,4,5],
                  'key2':['a','a','b','b','c']})

In [33]:
print(df11.duplicated())

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [35]:
print(df11['key2'].duplicated())

0    False
1     True
2    False
3     True
4    False
Name: key2, dtype: bool