In [1]:
library(devtools)

Loading required package: usethis

In [2]:
deck <- read.csv("/usr/local/codePro/jupyter-bd/RPro/deck.csv")

In [3]:
library(pryr)

Registered S3 method overwritten by 'pryr':
  method      from
  print.bytes Rcpp

In [4]:
parenvs(all = TRUE)

   label                            name
1  <environment: R_GlobalEnv>       ""
2  <environment: package:pryr>      "package:pryr"
3  <environment: package:devtools>  "package:devtools"
4  <environment: package:usethis>   "package:usethis"
5  <environment: 0x3f22190>         "jupyter:irkernel"
6  <environment: package:stats>     "package:stats"
7  <environment: package:graphics>  "package:graphics"
8  <environment: package:grDevices> "package:grDevices"
9  <environment: package:utils>     "package:utils"
10 <environment: package:datasets>  "package:datasets"
11 <environment: package:methods>   "package:methods"
12 <environment: 0x1bdaa80>         "Autoloads"
13 <environment: base>              ""
14 <environment: R_EmptyEnv>        ""

In [5]:
globalenv()$deck

   face  suit     value
1  king  spades   13
2  queen spades   12
3  jack  spades   11
4  ten   spades   10
5  nine  spades    9
6  eight spades    8
7  seven spades    7
8  six   spades    6
9  five  spades    5
10 four  spades    4
11 three spades    3
12 two   spades    2
13 ace   spades    1
14 king  clubs    13
15 queen clubs    12
16 jack  clubs    11
17 ten   clubs    10
18 nine  clubs     9
19 eight clubs     8
20 seven clubs     7
21 six   clubs     6
22 five  clubs     5
23 four  clubs     4
24 three clubs     3
25 two   clubs     2
26 ace   clubs     1
27 king  diamonds 13
28 queen diamonds 12
29 jack  diamonds 11
30 ten   diamonds 10
31 nine  diamonds  9
32 eight diamonds  8
33 seven diamonds  7
34 six   diamonds  6
35 five  diamonds  5
36 four  diamonds  4
37 three diamonds  3
38 two   diamonds  2
39 ace   diamonds  1
40 king  hearts   13
41 queen hearts   12
42 jack  hearts   11
43 ten   hearts   10
44 nine  hearts    9
45 eight hearts    8
46 seven hearts    7
47 six   hearts    6
48 five  hearts    5
49 four  hearts    4
50 three hearts    3
51 two   hearts    2
52 ace   hearts    1

In [6]:
parent.env(as.environment("package:usethis"))

<environment: 0x3f22190>
attr(,"name")
[1] "jupyter:irkernel"

In [7]:
parent.env(globalenv())

<environment: package:pryr>
attr(,"name")
[1] "package:pryr"
attr(,"path")
[1] "/home/yuanlin/R/x86_64-pc-linux-gnu-library/3.6/pryr"

In [8]:
assign("deck2", 1:12, envir = globalenv())

In [9]:
deck2

 [1]  1  2  3  4  5  6  7  8  9 10 11 12

In [10]:
environment()

In [11]:
show_env <- function() { 
    list(ran.in = environment(),
    parent = parent.env(environment()),
    objects = ls.str(environment())) 
}

In [12]:
show_env()

$ran.in
<environment: 0x5579968>

$parent
<environment: R_GlobalEnv>

$objects

In [13]:
environment()

In [14]:
deck

   face  suit     value
1  king  spades   13
2  queen spades   12
3  jack  spades   11
4  ten   spades   10
5  nine  spades    9
6  eight spades    8
7  seven spades    7
8  six   spades    6
9  five  spades    5
10 four  spades    4
11 three spades    3
12 two   spades    2
13 ace   spades    1
14 king  clubs    13
15 queen clubs    12
16 jack  clubs    11
17 ten   clubs    10
18 nine  clubs     9
19 eight clubs     8
20 seven clubs     7
21 six   clubs     6
22 five  clubs     5
23 four  clubs     4
24 three clubs     3
25 two   clubs     2
26 ace   clubs     1
27 king  diamonds 13
28 queen diamonds 12
29 jack  diamonds 11
30 ten   diamonds 10
31 nine  diamonds  9
32 eight diamonds  8
33 seven diamonds  7
34 six   diamonds  6
35 five  diamonds  5
36 four  diamonds  4
37 three diamonds  3
38 two   diamonds  2
39 ace   diamonds  1
40 king  hearts   13
41 queen hearts   12
42 jack  hearts   11
43 ten   hearts   10
44 nine  hearts    9
45 eight hearts    8
46 seven hearts    7
47 six   hearts    6
48 five  hearts    5
49 four  hearts    4
50 three hearts    3
51 two   hearts    2
52 ace   hearts    1

In [15]:
length(deck)

[1] 3

In [16]:
deal <- function(){
    deck[1, ]
}

In [17]:
deal()

  face suit   value
1 king spades 13

In [18]:
?environment

In [19]:
environment(deal)

In [25]:
dealReal <- function(){
    card <- deck[1, ]
    assign("deck", deck[-1, ], envir = globalenv())
    card
}

In [28]:
dealReal()

  face  suit   value
2 queen spades 12

In [29]:
nrow(deck)

[1] 50