In [1]:
deck <- read.csv("/usr/local/codePro/jupyter-bd/RPro/deck.csv")

In [2]:
row.names(deck)

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20" "21" "22" "23" "24" "25" "26" "27" "28" "29" "30"
[31] "31" "32" "33" "34" "35" "36" "37" "38" "39" "40" "41" "42" "43" "44" "45"
[46] "46" "47" "48" "49" "50" "51" "52"

In [3]:
deck

   face  suit     value
1  king  spades   13
2  queen spades   12
3  jack  spades   11
4  ten   spades   10
5  nine  spades    9
6  eight spades    8
7  seven spades    7
8  six   spades    6
9  five  spades    5
10 four  spades    4
11 three spades    3
12 two   spades    2
13 ace   spades    1
14 king  clubs    13
15 queen clubs    12
16 jack  clubs    11
17 ten   clubs    10
18 nine  clubs     9
19 eight clubs     8
20 seven clubs     7
21 six   clubs     6
22 five  clubs     5
23 four  clubs     4
24 three clubs     3
25 two   clubs     2
26 ace   clubs     1
27 king  diamonds 13
28 queen diamonds 12
29 jack  diamonds 11
30 ten   diamonds 10
31 nine  diamonds  9
32 eight diamonds  8
33 seven diamonds  7
34 six   diamonds  6
35 five  diamonds  5
36 four  diamonds  4
37 three diamonds  3
38 two   diamonds  2
39 ace   diamonds  1
40 king  hearts   13
41 queen hearts   12
42 jack  hearts   11
43 ten   hearts   10
44 nine  hearts    9
45 eight hearts    8
46 seven hearts    7
47 six   hearts    6
48 five  hearts    5
49 four  hearts    4
50 three hearts    3
51 two   hearts    2
52 ace   hearts    1

In [7]:
get_symbols <- function(){
    wheel <- c("DD", "7", "BBB", "BB", "B", "C", "0")
    sample(wheel, size = 3, replace =TRUE, prob = c(0.03, 0.03, 0.06, 0.1, 0.25, 0.01, 0.52))
}

In [10]:
play <- function() { 
    symbols <- get_symbols() 
    print(symbols)
}

In [11]:
one_play <- play()

[1] "0" "B" "0"

In [12]:
attributes(one_play)

NULL

In [13]:
attr(one_play, "symbols") <- c("B", "0", "B")

In [14]:
attributes(one_play)

$symbols
[1] "B" "0" "B"

In [17]:
one_play <- 0

In [18]:
attributes(one_play)

NULL

In [20]:
attr(one_play, "symbols") <- c("B", "0", "B")

In [23]:
attr(one_play, "symbols")

[1] "B" "0" "B"

In [22]:
one_play + 1

[1] 1
attr(,"symbols")
[1] "B" "0" "B"

In [24]:
one_play

[1] 0
attr(,"symbols")
[1] "B" "0" "B"

In [26]:
attributes(one_play)

$symbols
[1] "B" "0" "B"