In [14]:
import pandas as pd
from io import StringIO

from sklearn.preprocessing import LabelEncoder

In [2]:

csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''

In [3]:
df = pd.read_csv(StringIO(csv_data))

In [4]:
df.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True

In [5]:
df1 = pd.DataFrame([
['green', 'M', 10.1, 'class2'],
['red', 'L', 13.5, 'class1'], ['blue', 'XL', 15.3, 'class2']])

In [6]:
df1.columns = ['color', 'size', 'price', 'classlabel']

In [7]:
df1

   color size  price classlabel
0  green    M   10.1     class2
1    red    L   13.5     class1
2   blue   XL   15.3     class2

In [9]:
X = df1[['color', 'size', 'price']].values

In [10]:
X

array([['green', 'M', 10.1],
       ['red', 'L', 13.5],
       ['blue', 'XL', 15.3]], dtype=object)

In [15]:
color_le = LabelEncoder()

In [16]:
X[:, 0] = color_le.fit_transform(X[:, 0])

In [17]:
X

array([[1, 'M', 10.1],
       [2, 'L', 13.5],
       [0, 'XL', 15.3]], dtype=object)

In [18]:
X = df1[['color', 'size', 'price']].values
color_le = LabelEncoder()
X[:, 0] = color_le.fit_transform(X[:, 0])
X

array([[1, 'M', 10.1],
       [2, 'L', 13.5],
       [0, 'XL', 15.3]], dtype=object)