In [3]:
deck <- read.csv(file="/usr/local/konfer/jupyterPro/RPro/deck.csv",header=T,sep=",")

In [7]:
head(deck)

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9
6 eight spades  8

In [8]:
deck[1,1]

[1] king
Levels: ace eight five four jack king nine queen seven six ten three two

In [9]:
deck[1,c(1,2,3)]

  face suit   value
1 king spades 13

In [10]:
deck[c(1,1),c(1,2,3)]

    face suit   value
1   king spades 13
1.1 king spades 13

In [11]:
vec <- c(6,1,2,3,5,10,4)

In [12]:
vec[1:3]

[1] 6 1 2

In [13]:
deck[1:2,1:2]

  face  suit
1 king  spades
2 queen spades

In [15]:
deck[-(2:52),1:3]

  face suit   value
1 king spades 13

In [16]:
deck[1,]

  face suit   value
1 king spades 13

In [17]:
vec[c(F,T,F,T,T,F,T)]

[1] 1 3 5 4

In [18]:
rows <- c(TRUE, F, F, F, F, F, F, F, F, F, F, F, F, F, F, F,   
        F, F, F, F, F, F, F, F, F, F, F, F, F, F, F, F, F, F, F, F, F, F,   
        F, F, F, F, F, F, F, F, F, F, F, F, F, F)

In [19]:
deck[rows,]

  face suit   value
1 king spades 13

In [21]:
deck[1,c("face","value","suit")]

  face value suit
1 king 13    spades

In [22]:
container=deck[,"value"]

In [23]:
typeof(container)

[1] "integer"

In [24]:
container

 [1] 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3  2
[26]  1 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3
[51]  2  1

### deal

In [25]:
deal <- function(cards){
    cards[1,]
}

In [26]:
deal(deck)

  face suit   value
1 king spades 13

### shuffle

In [27]:
deckShuffled <- deck[1:52,]

In [28]:
deckShuffled

   face  suit     value
1  king  spades   13
2  queen spades   12
3  jack  spades   11
4  ten   spades   10
5  nine  spades    9
6  eight spades    8
7  seven spades    7
8  six   spades    6
9  five  spades    5
10 four  spades    4
11 three spades    3
12 two   spades    2
13 ace   spades    1
14 king  clubs    13
15 queen clubs    12
16 jack  clubs    11
17 ten   clubs    10
18 nine  clubs     9
19 eight clubs     8
20 seven clubs     7
21 six   clubs     6
22 five  clubs     5
23 four  clubs     4
24 three clubs     3
25 two   clubs     2
26 ace   clubs     1
27 king  diamonds 13
28 queen diamonds 12
29 jack  diamonds 11
30 ten   diamonds 10
31 nine  diamonds  9
32 eight diamonds  8
33 seven diamonds  7
34 six   diamonds  6
35 five  diamonds  5
36 four  diamonds  4
37 three diamonds  3
38 two   diamonds  2
39 ace   diamonds  1
40 king  hearts   13
41 queen hearts   12
42 jack  hearts   11
43 ten   hearts   10
44 nine  hearts    9
45 eight hearts    8
46 seven hearts    7
47 six   hearts    6
48 five  hearts    5
49 four  hearts    4
50 three hearts    3
51 two   hearts    2
52 ace   hearts    1

In [33]:
random <- sample(1:52,size=52)

In [34]:
deckRandomShuffled <- deck[random,]

In [35]:
head(deckRandomShuffled)

   face  suit   value
25 two   clubs  2
5  nine  spades 9
20 seven clubs  7
48 five  hearts 5
49 four  hearts 4
9  five  spades 5

In [36]:
shuffleFn <- function(cards){
    random <-sample(1:52,size=52)
    cards[random,]
}

In [37]:
shuffledDeck=shuffleFn(deck)

In [39]:
head(shuffledDeck)

   face  suit   value
23 four  clubs   4
48 five  hearts  5
41 queen hearts 12
47 six   hearts  6
15 queen clubs  12
22 five  clubs   5

In [40]:
deck$value

 [1] 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3  2
[26]  1 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3
[51]  2  1

In [41]:
mean(deck$value)

[1] 7

In [42]:
median(deck$value)

[1] 7

In [43]:
lst <- list(numbers = c(1,2),logical=TRUE,
           strings=c("a","b","c"))

In [44]:
lst

$numbers
[1] 1 2

$logical
[1] TRUE

$strings
[1] "a" "b" "c"

In [45]:
lst[[1]]

[1] 1 2

In [48]:
lst[["numbers"]]

[1] 1 2