In [1]:
deck <- read.csv(file="/usr/local/konfer/jupyterPro/RPro/deck.csv",header=T,sep=",")

In [2]:
library(devtools)

In [3]:
parenvs(all = TRUE)

ERROR: Error in eval(expr, envir, enclos): could not find function "parenvs"

In [4]:
as.environment("package:stats")

<environment: package:stats>
attr(,"name")
[1] "package:stats"
attr(,"path")
[1] "/usr/lib/R/library/stats"

In [5]:
globalenv()

In [6]:
baseenv()

In [7]:
emptyenv()

In [8]:
parent.env(emptyenv())

ERROR: Error in parent.env(emptyenv()): the empty environment has no parent

In [9]:
ls(emptyenv())

character(0)

In [10]:
ls.str(emptyenv())

In [11]:
ls(globalenv())

[1] "deck"

In [12]:
head(globalenv()$deck,3)

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11

In [13]:
assign("new","Hello Global", envir=globalenv())

In [14]:
globalenv()$new

[1] "Hello Global"

In [15]:
environment()

In [16]:
new

[1] "Hello Global"

In [17]:
foo <- "show me your runtime"

In [18]:
show_env <- function(x=foo){
    list(ran.in=environment(),
         parent=parent.env(environment()),
         objects=ls.str(environment()))
}

In [19]:
show_env()

$ran.in
<environment: 0x420e1e0>

$parent
<environment: R_GlobalEnv>

$objects
x :  chr "show me your runtime"

In [20]:
deal <- function(){
    deck[1,]
}

In [21]:
deal()

  face suit   value
1 king spades 13

In [22]:
environment(deal)

In [23]:
DECK <- deck

In [25]:
deck <- deck[-1,]

In [27]:
head(deck,3)

  face  suit   value
2 queen spades 12
3 jack  spades 11
4 ten   spades 10

In [38]:
deck <- read.csv(file="/usr/local/konfer/jupyterPro/RPro/deck.csv",header=T,sep=",")

In [39]:
deal <- function(){
    card <- deck[1,]
    deck <- deck[1,]
    card
}

In [40]:
deal()

  face suit   value
1 king spades 13

In [41]:
dealAssign <- function(){
    card <- deck[1,]
    assign("deck",deck[-1,],envir=globalenv())
    card
}

In [42]:
deal()

  face suit   value
1 king spades 13

In [43]:
deal()

  face suit   value
1 king spades 13

In [44]:
dealAssign()

  face suit   value
1 king spades 13

In [45]:
dealAssign()

  face  suit   value
2 queen spades 12

In [46]:
dealAssign()

  face suit   value
3 jack spades 11

In [47]:
dealAssign()

  face suit   value
4 ten  spades 10

In [62]:
shuffleAssign <- function(){
    random <- sample(1:52,size=52)
    assign("deck",DECK[random, ],envir=globalenv())
    head(deck,5)
}

In [63]:
head(deck,3)

   face  suit     value
45 eight hearts    8
14 king  clubs    13
38 two   diamonds  2

In [64]:
shuffleAssign()

   face suit     value
38 two  diamonds  2
47 six  hearts    6
30 ten  diamonds 10
29 jack diamonds 11
21 six  clubs     6

In [65]:
shuffleAssign()

   face suit     value
40 king hearts   13
51 two  hearts    2
3  jack spades   11
31 nine diamonds  9
36 four diamonds  4

In [66]:
shuffleAssign()

   face  suit     value
51 two   hearts   2
48 five  hearts   5
33 seven diamonds 7
10 four  spades   4
39 ace   diamonds 1

### closure

In [ ]:
setup <- function(deck){
    DECK <- deck
    deal
}