In [1]:
deck <- read.csv(file="/usr/local/konfer/jupyterPro/RPro/deck.csv",header=T,sep=",")

In [2]:
vec <- c(0,0,0,0,0,0)

In [3]:
vec

[1] 0 0 0 0 0 0

In [4]:
vec[1]

[1] 0

In [5]:
vec[1] <- 1000

In [6]:
vec

[1] 1000    0    0    0    0    0

In [7]:
vec[c(1,3,5)] <- c(1,1,1)

In [8]:
vec

[1] 1 0 1 0 1 0

In [9]:
vec[4:6] <- vec[4:6]-1

In [10]:
vec

[1]  1  0  1 -1  0 -1

In [11]:
vec[7] <- 0

In [12]:
vec

[1]  1  0  1 -1  0 -1  0

In [13]:
deck$new <- 1:52

In [14]:
deck

   face  suit     value new
1  king  spades   13     1
2  queen spades   12     2
3  jack  spades   11     3
4  ten   spades   10     4
5  nine  spades    9     5
6  eight spades    8     6
7  seven spades    7     7
8  six   spades    6     8
9  five  spades    5     9
10 four  spades    4    10
11 three spades    3    11
12 two   spades    2    12
13 ace   spades    1    13
14 king  clubs    13    14
15 queen clubs    12    15
16 jack  clubs    11    16
17 ten   clubs    10    17
18 nine  clubs     9    18
19 eight clubs     8    19
20 seven clubs     7    20
21 six   clubs     6    21
22 five  clubs     5    22
23 four  clubs     4    23
24 three clubs     3    24
25 two   clubs     2    25
26 ace   clubs     1    26
27 king  diamonds 13    27
28 queen diamonds 12    28
29 jack  diamonds 11    29
30 ten   diamonds 10    30
31 nine  diamonds  9    31
32 eight diamonds  8    32
33 seven diamonds  7    33
34 six   diamonds  6    34
35 five  diamonds  5    35
36 four  diamonds  4    36
37 three diamonds  3    37
38 two   diamonds  2    38
39 ace   diamonds  1    39
40 king  hearts   13    40
41 queen hearts   12    41
42 jack  hearts   11    42
43 ten   hearts   10    43
44 nine  hearts    9    44
45 eight hearts    8    45
46 seven hearts    7    46
47 six   hearts    6    47
48 five  hearts    5    48
49 four  hearts    4    49
50 three hearts    3    50
51 two   hearts    2    51
52 ace   hearts    1    52

In [15]:
deck[c(13,26,39,52),]

   face suit     value new
13 ace  spades   1     13
26 ace  clubs    1     26
39 ace  diamonds 1     39
52 ace  hearts   1     52

In [16]:
deck$value[c(13,26,39,52)] <- c(14,14,14,14)

In [17]:
deck

   face  suit     value new
1  king  spades   13     1
2  queen spades   12     2
3  jack  spades   11     3
4  ten   spades   10     4
5  nine  spades    9     5
6  eight spades    8     6
7  seven spades    7     7
8  six   spades    6     8
9  five  spades    5     9
10 four  spades    4    10
11 three spades    3    11
12 two   spades    2    12
13 ace   spades   14    13
14 king  clubs    13    14
15 queen clubs    12    15
16 jack  clubs    11    16
17 ten   clubs    10    17
18 nine  clubs     9    18
19 eight clubs     8    19
20 seven clubs     7    20
21 six   clubs     6    21
22 five  clubs     5    22
23 four  clubs     4    23
24 three clubs     3    24
25 two   clubs     2    25
26 ace   clubs    14    26
27 king  diamonds 13    27
28 queen diamonds 12    28
29 jack  diamonds 11    29
30 ten   diamonds 10    30
31 nine  diamonds  9    31
32 eight diamonds  8    32
33 seven diamonds  7    33
34 six   diamonds  6    34
35 five  diamonds  5    35
36 four  diamonds  4    36
37 three diamonds  3    37
38 two   diamonds  2    38
39 ace   diamonds 14    39
40 king  hearts   13    40
41 queen hearts   12    41
42 jack  hearts   11    42
43 ten   hearts   10    43
44 nine  hearts    9    44
45 eight hearts    8    45
46 seven hearts    7    46
47 six   hearts    6    47
48 five  hearts    5    48
49 four  hearts    4    49
50 three hearts    3    50
51 two   hearts    2    51
52 ace   hearts   14    52

In [18]:
head(deck,13)

   face  suit   value new
1  king  spades 13     1
2  queen spades 12     2
3  jack  spades 11     3
4  ten   spades 10     4
5  nine  spades  9     5
6  eight spades  8     6
7  seven spades  7     7
8  six   spades  6     8
9  five  spades  5     9
10 four  spades  4    10
11 three spades  3    11
12 two   spades  2    12
13 ace   spades 14    13

### logicTest

In [19]:
1>c(0,1,2)

[1]  TRUE FALSE FALSE

In [20]:
c(1,2,3)==c(1,3,3)

[1]  TRUE FALSE  TRUE

In [21]:
1 %in% c(3,4,5)

[1] FALSE

In [22]:
1 %in% c(1,2,3)

[1] TRUE

In [23]:
c(1,2) %in% c(2,1,4)

[1] TRUE TRUE

In [24]:
deck$face == "ace"

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[37] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[49] FALSE FALSE FALSE  TRUE

In [25]:
sum(deck$face=="ace")

[1] 4

In [26]:
deck$value[deck$face=="ace"]

[1] 14 14 14 14

In [27]:
deck$new[deck$face=="king"]

[1]  1 14 27 40

In [28]:
deck

   face  suit     value new
1  king  spades   13     1
2  queen spades   12     2
3  jack  spades   11     3
4  ten   spades   10     4
5  nine  spades    9     5
6  eight spades    8     6
7  seven spades    7     7
8  six   spades    6     8
9  five  spades    5     9
10 four  spades    4    10
11 three spades    3    11
12 two   spades    2    12
13 ace   spades   14    13
14 king  clubs    13    14
15 queen clubs    12    15
16 jack  clubs    11    16
17 ten   clubs    10    17
18 nine  clubs     9    18
19 eight clubs     8    19
20 seven clubs     7    20
21 six   clubs     6    21
22 five  clubs     5    22
23 four  clubs     4    23
24 three clubs     3    24
25 two   clubs     2    25
26 ace   clubs    14    26
27 king  diamonds 13    27
28 queen diamonds 12    28
29 jack  diamonds 11    29
30 ten   diamonds 10    30
31 nine  diamonds  9    31
32 eight diamonds  8    32
33 seven diamonds  7    33
34 six   diamonds  6    34
35 five  diamonds  5    35
36 four  diamonds  4    36
37 three diamonds  3    37
38 two   diamonds  2    38
39 ace   diamonds 14    39
40 king  hearts   13    40
41 queen hearts   12    41
42 jack  hearts   11    42
43 ten   hearts   10    43
44 nine  hearts    9    44
45 eight hearts    8    45
46 seven hearts    7    46
47 six   hearts    6    47
48 five  hearts    5    48
49 four  hearts    4    49
50 three hearts    3    50
51 two   hearts    2    51
52 ace   hearts   14    52

### bool operation

In [29]:
a<-c(1,2,3)

In [30]:
b<-c(1,2,3)

In [31]:
c<-c(1,2,4)

In [32]:
a==b

[1] TRUE TRUE TRUE

In [33]:
a==c

[1]  TRUE  TRUE FALSE

In [34]:
b==c

[1]  TRUE  TRUE FALSE

In [35]:
deck$face == "queen" & deck$suit=="spades"

 [1] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[37] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[49] FALSE FALSE FALSE FALSE

In [36]:
queenofSpades <- deck$face=="queen"&deck$suit == "spades"

In [37]:
deck[queenofSpades,]

  face  suit   value new
2 queen spades 12    2

In [38]:
deck$value[queenofSpades]

[1] 12

In [39]:
head(globalenv()$deck,3)

  face  suit   value new
1 king  spades 13    1
2 queen spades 12    2
3 jack  spades 11    3