In [1]:
import org.apache.spark.sql.functions.avg
import org.apache.spark.sql.SparkSession

In [2]:
data_df = sc.create

Compile Error: <console>:29: error: not found: value data_df
       data_df = sc.create
       ^
<console>:30: error: not found: value data_df
       val $ires3 = data_df
                    ^

In [3]:
sc

org.apache.spark.SparkContext@9c12cec

In [4]:
spark

org.apache.spark.sql.SparkSession@73c34c5f

In [5]:
spark.buider.appName("AuthorsAges").getOrCreate()

Compile Error: <console>:30: error: value buider is not a member of org.apache.spark.sql.SparkSession
       spark.buider.appName("AuthorsAges").getOrCreate()
             ^

In [18]:
val spark_ = spark.buider.appName("AuthorsAges").getOrCreate()

Compile Error: <console>:29: error: value buider is not a member of org.apache.spark.sql.SparkSession
       val spark_ = spark.buider.appName("AuthorsAges").getOrCreate()
                          ^

In [19]:
val data_df = spark_.createDataFrame([("Brooke", 20), ("Denny", 31), ("Jules", 30),("TD", 35), ("Brooke", 25)], 
                                 ["name", "age"])

Compile Error: <console>:1: error: illegal start of simple expression
       val data_df = spark_.createDataFrame([("Brooke", 20), ("Denny", 31), ("Jules", 30),("TD", 35), ("Brooke", 25)],
                                            ^

In [28]:
data_df.printSchema

Compile Error: <console>:28: error: not found: value data_df
       data_df.printSchema
       ^

In [9]:
avg_df = data_df.groupby("name").agg(avg("age"))

Compile Error: <console>:27: error: not found: value avg_df
       avg_df = data_df.groupby("name").agg(avg("age"))
       ^
<console>:28: error: not found: value avg_df
       val $ires10 = avg_df
                     ^

In [10]:
avg.df.show()

Compile Error: <console>:28: error: ambiguous reference to overloaded definition,
both method avg in object functions of type (columnName: String)org.apache.spark.sql.Column
and  method avg in object functions of type (e: org.apache.spark.sql.Column)org.apache.spark.sql.Column
match expected type ?
       avg.df.show()
       ^

In [11]:
dataRDD = sc.parallelize([("Brooke", 20), ("Denny", 31), ("Jules", 30),
("TD", 35), ("Brooke", 25)])

Compile Error: <console>:1: error: illegal start of simple expression
       dataRDD = sc.parallelize([("Brooke", 20), ("Denny", 31), ("Jules", 30),
                                ^

In [12]:
agesRDD = (dataRDD
.map(lambda x: (x[0], (x[1], 1)))
.reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1])) .map(lambda x: (x[0], x[1][0]/x[1][1])))

Compile Error: <console>:2: error: identifier expected but integer literal found.
       .map(lambda x: (x[0], (x[1], 1)))
                         ^

In [15]:
dataRDD.

Compile Error: <console>:28: error: not found: value dataRDD
       dataRDD
       ^

In [13]:
val i = 1

i = 1

1

In [1]:
i="str"

Compile Error: <console>:30: error: reassignment to val
       i="str"
        ^

In [21]:
sc.parallelize(1 to 100).reduce(_+_jk)

Compile Error: <console>:30: error: missing parameter type for expanded function ((x$1: <error>) => x$1.$plus(_jk))
       sc.parallelize(1 to 100).reduce(_+_jk)
                                       ^

In [22]:
val spark = SparkSession.builder.appName("AuthorsAges").getOrCreate()

spark = org.apache.spark.sql.SparkSession@73c34c5f

org.apache.spark.sql.SparkSession@73c34c5f

In [23]:
val data_df = spark_.createDataFrame([("Brooke", 20), ("Denny", 31), ("Jules", 30),
                                      ("TD", 35), ("Brooke", 25)], 
                                 ["name", "age"])

Compile Error: <console>:1: error: illegal start of simple expression
       val data_df = spark_.createDataFrame([("Brooke", 20), ("Denny", 31), ("Jules", 30),("TD", 35), ("Brooke", 25)],
                                            ^

In [27]:
data_df

Compile Error: <console>:28: error: not found: value data_df
       data_df
       ^

In [26]:
val dataDF = spark.createDataFrame(Seq(("Brooke", 20), ("Brooke", 25), ("Denny", 31), ("Jules", 30), ("TD", 35))).toDF("name", "age")

dataDF = [name: string, age: int]

[name: string, age: int]

In [29]:
val avgDF = dataDF.groupBy("name").agg(avg("age"))

avgDF = [name: string, avg(age): double]

[name: string, avg(age): double]

In [30]:
avgDF.show()

+------+--------+
|  name|avg(age)|
+------+--------+
|Brooke|    22.5|
| Jules|    30.0|
|    TD|    35.0|
| Denny|    31.0|
+------+--------+

In [31]:
dataDF

[name: string, age: int]

In [32]:
dataDF.printSchema

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = false)

In [33]:
dataDF.describe

Compile Error: <console>:30: error: missing argument list for method describe in class Dataset
Unapplied methods are only converted to functions when a function type is expected.
You can make this conversion explicit by writing `describe _` or `describe(_)` instead of `describe`.
       dataDF.describe
              ^

In [34]:
dataDF.toString

[name: string, age: int]

In [35]:
dataDF.show

+------+---+
|  name|age|
+------+---+
|Brooke| 20|
|Brooke| 25|
| Denny| 31|
| Jules| 30|
|    TD| 35|
+------+---+

In [2]:
import org.apache.spark