In [1]:
import numpy as np
import pandas as pd
import datetime

In [52]:
date_single = pd.to_datetime('10/15/2019')
date_single

Timestamp('2019-10-15 00:00:00')

In [2]:
date_var = pd.to_datetime(['10/15/2019', np.datetime64('2019-10-15'),
                          datetime.datetime(2019, 10, 15)])
date_var

DatetimeIndex(['2019-10-15', '2019-10-15', '2019-10-15'], dtype='datetime64[ns]', freq=None)

In [49]:
type(date_var)

pandas.core.indexes.datetimes.DatetimeIndex

In [50]:
for dt in date_var:
    print(type(dt))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [3]:
date_var = pd.date_range('10/25/2019', periods = 5, freq = 'D')

In [4]:
date_var

DatetimeIndex(['2019-10-25', '2019-10-26', '2019-10-27', '2019-10-28',
               '2019-10-29'],
              dtype='datetime64[ns]', freq='D')

In [44]:
for dateTime in date_var:
    print(dateTime)
    print(type(dateTime))

2019-10-25 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2019-10-26 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2019-10-27 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2019-10-28 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2019-10-29 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [6]:
date_var_local = date_var.tz_localize('UTC')

In [7]:
date_var_local

DatetimeIndex(['2019-10-25 00:00:00+00:00', '2019-10-26 00:00:00+00:00',
               '2019-10-27 00:00:00+00:00', '2019-10-28 00:00:00+00:00',
               '2019-10-29 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [8]:
date_var_convert_to_US = date_var_local.tz_convert('America/New_York')

In [9]:
date_var_convert_to_US

DatetimeIndex(['2019-10-24 20:00:00-04:00', '2019-10-25 20:00:00-04:00',
               '2019-10-26 20:00:00-04:00', '2019-10-27 20:00:00-04:00',
               '2019-10-28 20:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', freq='D')

In [10]:
date_var_local = date_var.tz_localize('America/New_York')

In [11]:
date_var_local

DatetimeIndex(['2019-10-25 00:00:00-04:00', '2019-10-26 00:00:00-04:00',
               '2019-10-27 00:00:00-04:00', '2019-10-28 00:00:00-04:00',
               '2019-10-29 00:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', freq='D')

In [12]:
date_var_convert_to_UTC = date_var_local.tz_convert('UTC')

In [13]:
date_var_convert_to_UTC

DatetimeIndex(['2019-10-25 04:00:00+00:00', '2019-10-26 04:00:00+00:00',
               '2019-10-27 04:00:00+00:00', '2019-10-28 04:00:00+00:00',
               '2019-10-29 04:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [14]:
idx = pd.date_range('2019-10-01', periods = 7, freq = 'D')

In [15]:
idx

DatetimeIndex(['2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04',
               '2019-10-05', '2019-10-06', '2019-10-07'],
              dtype='datetime64[ns]', freq='D')

In [16]:
ts = pd.Series(range(len(idx)), index = idx)

In [17]:
ts

2019-10-01    0
2019-10-02    1
2019-10-03    2
2019-10-04    3
2019-10-05    4
2019-10-06    5
2019-10-07    6
Freq: D, dtype: int64

In [18]:
dates = pd.date_range('20191001', periods = 10)

In [19]:
dates

DatetimeIndex(['2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04',
               '2019-10-05', '2019-10-06', '2019-10-07', '2019-10-08',
               '2019-10-09', '2019-10-10'],
              dtype='datetime64[ns]', freq='D')

In [20]:
len(dates)

10

In [21]:
pd.Period('2019-10')

Period('2019-10', 'M')

In [22]:
pd.Period('2019-10', freq = 'D')

Period('2019-10-01', 'D')

In [23]:
dates = [pd.Timestamp('2015-05-01'),
             pd.Timestamp('2015-05-02'),
             pd.Timestamp('2015-05-03')]

In [24]:
ts = pd.Series(np.random.randn(3), dates)

In [25]:
ts

2015-05-01    1.352370
2015-05-02    0.031889
2015-05-03   -1.633700
dtype: float64

In [26]:
ts.index

DatetimeIndex(['2015-05-01', '2015-05-02', '2015-05-03'], dtype='datetime64[ns]', freq=None)

In [27]:
periods = [pd.Period('2017-07'), pd.Period('2017-08'), pd.Period('2017-09')]
periods

[Period('2017-07', 'M'), Period('2017-08', 'M'), Period('2017-09', 'M')]

In [28]:
ts_periods = pd.Series(np.random.randn(3), periods)

In [29]:
ts_periods

2017-07    0.195846
2017-08    1.632852
2017-09    0.221501
Freq: M, dtype: float64

In [30]:
dates = pd.date_range('2019-10', periods = 10, freq='M')

In [31]:
dates

DatetimeIndex(['2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31',
               '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31',
               '2020-06-30', '2020-07-31'],
              dtype='datetime64[ns]', freq='M')

In [45]:
nin = pd.to_datetime(pd.Series(['Jul 09, 2019', '2019-07-02']))

In [46]:
nin

0   2019-07-09
1   2019-07-02
dtype: datetime64[ns]

In [48]:
type(nin)

pandas.core.series.Series

In [47]:
for ni in nin:
    print(type(ni))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [33]:
pd.to_datetime(['2005/12/25', '2005.12.31'])

DatetimeIndex(['2005-12-25', '2005-12-31'], dtype='datetime64[ns]', freq=None)

In [34]:
df = pd.DataFrame({'year':[2017, 2018, 2019],
                     'month':[3, 4, 5],
                     'day':[11, 12, 13]})

In [35]:
df

   day  month  year
0   11      3  2017
1   12      4  2018
2   13      5  2019

In [58]:
dt_df = pd.to_datetime(df)

In [60]:
dt_df

0   2017-03-11
1   2018-04-12
2   2019-05-13
dtype: datetime64[ns]

In [37]:
ninfd = pd.to_datetime(['2018-01-01','2018-02-02'])

In [38]:
ninfd

DatetimeIndex(['2018-01-01', '2018-02-02'], dtype='datetime64[ns]', freq=None)

In [39]:
type(ninfd)

pandas.core.indexes.datetimes.DatetimeIndex

In [40]:
type(ninfd[0])

pandas._libs.tslibs.timestamps.Timestamp

In [41]:
ninfd.dtype

dtype('<M8[ns]')

In [55]:
rangeDelta = pd.to_timedelta([10,100], unit = 'd')

In [57]:
rangeDelta

TimedeltaIndex(['10 days', '100 days'], dtype='timedelta64[ns]', freq=None)

In [56]:
for delta in rangeDelta:
    print(type(delta))

<class 'pandas._libs.tslibs.timedeltas.Timedelta'>
<class 'pandas._libs.tslibs.timedeltas.Timedelta'>