In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame({'key1':[4,5,3,np.nan,2],
                 'key2':[1,2,np.nan,4,5],
                 'key3':[1,2,3,'j','k']},
                 index=['a','b','c','d','e'])

In [3]:
df

   key1  key2 key3
a   4.0   1.0    1
b   5.0   2.0    2
c   3.0   NaN    3
d   NaN   4.0    j
e   2.0   5.0    k

In [4]:
print(df['key1'].dtype,df['key2'].dtype,df['key3'].dtype)

float64 float64 object

In [5]:
m1=df.mean()

In [6]:
m2=df.mean(axis=1)

In [7]:
m1

key1    3.5
key2    3.0
dtype: float64

In [8]:
m2

a    2.5
b    3.5
c    3.0
d    4.0
e    3.5
dtype: float64

In [9]:
singleColumnMean=df['key1'].mean()

In [10]:
singleColumnMean

3.5

In [11]:
df.count()

key1    4
key2    4
key3    5
dtype: int64

In [12]:
df.min()

key1    2.0
key2    1.0
dtype: float64

## 四分位数

In [13]:
df.quantile(q=0.75)

key1    4.25
key2    4.25
Name: 0.75, dtype: float64

In [14]:
df.sum()

key1    14.0
key2    12.0
dtype: float64

In [15]:
df.mean()

key1    3.5
key2    3.0
dtype: float64

## 算数中位数

In [16]:
df.median()

key1    3.5
key2    3.0
dtype: float64

## 标准差

In [17]:
df.std()

key1    1.290994
key2    1.825742
dtype: float64

## 方差

In [18]:
df.var()

key1    1.666667
key2    3.333333
dtype: float64

## 偏度

In [19]:
df.skew()

key1    0.0
key2    0.0
dtype: float64

## 峰度

In [20]:
df.kurt()

key1   -1.2
key2   -3.3
dtype: float64

In [21]:
df['key1_s']=df['key1'].cumsum()

In [22]:
df['key2_s']=df['key2'].cumsum()

In [23]:
df

   key1  key2 key3  key1_s  key2_s
a   4.0   1.0    1     4.0     1.0
b   5.0   2.0    2     9.0     3.0
c   3.0   NaN    3    12.0     NaN
d   NaN   4.0    j     NaN     7.0
e   2.0   5.0    k    14.0    12.0

## 去重

In [24]:
s=pd.Series(list('dfjdksahfdsfdsfdfsdafjkdsahfkhdasilfuiehdfkls'))

In [25]:
s

0     d
1     f
2     j
3     d
4     k
5     s
6     a
7     h
8     f
9     d
10    s
11    f
12    d
13    s
14    f
15    d
16    f
17    s
18    d
19    a
20    f
21    j
22    k
23    d
24    s
25    a
26    h
27    f
28    k
29    h
30    d
31    a
32    s
33    i
34    l
35    f
36    u
37    i
38    e
39    h
40    d
41    f
42    k
43    l
44    s
dtype: object

In [26]:
sq=s.unique()

In [27]:
sq

array(['d', 'f', 'j', 'k', 's', 'a', 'h', 'i', 'l', 'u', 'e'],
      dtype=object)

In [28]:
sq.sort()

In [29]:
sq

array(['a', 'd', 'e', 'f', 'h', 'i', 'j', 'k', 'l', 's', 'u'],
      dtype=object)

In [30]:
print(type(sq))

<class 'numpy.ndarray'>

In [31]:
print(pd.Series(sq))

0     a
1     d
2     e
3     f
4     h
5     i
6     j
7     k
8     l
9     s
10    u
dtype: object

In [32]:
s1=pd.Series(np.arange(10,15))

In [33]:
s1

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [36]:
df4=pd.DataFrame({'key1':list('dafjdkfad'),
                  'key2':np.arange(4,13)})

In [37]:
df4

  key1  key2
0    d     4
1    a     5
2    f     6
3    j     7
4    d     8
5    k     9
6    f    10
7    a    11
8    d    12

In [40]:
print(s1.isin([5,12]))

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [41]:
print(df4.isin(['a','bc','10']))

    key1   key2
0  False  False
1   True  False
2  False  False
3  False  False
4  False  False
5  False  False
6  False  False
7   True  False
8  False  False