In [1]:
deck <- read.csv("/usr/local/codePro/jupyter-bd/RPro/deck.csv")

In [2]:
head(deck)

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9
6 eight spades  8

In [3]:
deck[3,2]

[1] spades
Levels: clubs diamonds hearts spades

In [4]:
typeof(deck)

[1] "list"

In [5]:
deck

   face  suit     value
1  king  spades   13
2  queen spades   12
3  jack  spades   11
4  ten   spades   10
5  nine  spades    9
6  eight spades    8
7  seven spades    7
8  six   spades    6
9  five  spades    5
10 four  spades    4
11 three spades    3
12 two   spades    2
13 ace   spades    1
14 king  clubs    13
15 queen clubs    12
16 jack  clubs    11
17 ten   clubs    10
18 nine  clubs     9
19 eight clubs     8
20 seven clubs     7
21 six   clubs     6
22 five  clubs     5
23 four  clubs     4
24 three clubs     3
25 two   clubs     2
26 ace   clubs     1
27 king  diamonds 13
28 queen diamonds 12
29 jack  diamonds 11
30 ten   diamonds 10
31 nine  diamonds  9
32 eight diamonds  8
33 seven diamonds  7
34 six   diamonds  6
35 five  diamonds  5
36 four  diamonds  4
37 three diamonds  3
38 two   diamonds  2
39 ace   diamonds  1
40 king  hearts   13
41 queen hearts   12
42 jack  hearts   11
43 ten   hearts   10
44 nine  hearts    9
45 eight hearts    8
46 seven hearts    7
47 six   hearts    6
48 five  hearts    5
49 four  hearts    4
50 three hearts    3
51 two   hearts    2
52 ace   hearts    1

In [6]:
deck[2, c(1,3)]

  face  value
2 queen 12

In [7]:
deck[c(1,5,6), c(1,3)]

  face  value
1 king  13
5 nine   9
6 eight  8

In [8]:
deck[-c(1,5,6), c(1,3)]

   face  value
2  queen 12
3  jack  11
4  ten   10
7  seven  7
8  six    6
9  five   5
10 four   4
11 three  3
12 two    2
13 ace    1
14 king  13
15 queen 12
16 jack  11
17 ten   10
18 nine   9
19 eight  8
20 seven  7
21 six    6
22 five   5
23 four   4
24 three  3
25 two    2
26 ace    1
27 king  13
28 queen 12
29 jack  11
30 ten   10
31 nine   9
32 eight  8
33 seven  7
34 six    6
35 five   5
36 four   4
37 three  3
38 two    2
39 ace    1
40 king  13
41 queen 12
42 jack  11
43 ten   10
44 nine   9
45 eight  8
46 seven  7
47 six    6
48 five   5
49 four   4
50 three  3
51 two    2
52 ace    1

In [9]:
deck[c(F, F, F, T),]

   face  suit     value
4  ten   spades   10
8  six   spades    6
12 two   spades    2
16 jack  clubs    11
20 seven clubs     7
24 three clubs     3
28 queen diamonds 12
32 eight diamonds  8
36 four  diamonds  4
40 king  hearts   13
44 nine  hearts    9
48 five  hearts    5
52 ace   hearts    1

In [10]:
dealn <- function(cards){
    cards[1, ]
}

In [11]:
dealn(deck)

  face suit   value
1 king spades 13

In [12]:
shuffle <- function(){
    random = sample(1:52, size = 52)
    deck[random, ]
}

In [13]:
dealn(shuffle())

   face suit   value
48 five hearts 5

In [14]:
dealn(shuffle())

   face suit   value
10 four spades 4

In [15]:
deck$value

 [1] 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3  2
[26]  1 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3
[51]  2  1

In [16]:
mean(deck$value)

[1] 7

In [17]:
mean(1:13)

[1] 7