In [1]:
wheel <- c("DD", "7", "BBB", "BB", "B", "C", "0")

In [2]:
die <- c(1:6)

In [3]:
rolls <- expand.grid(die, die)

In [4]:
rolls

   Var1 Var2
1  1    1
2  2    1
3  3    1
4  4    1
5  5    1
6  6    1
7  1    2
8  2    2
9  3    2
10 4    2
11 5    2
12 6    2
13 1    3
14 2    3
15 3    3
16 4    3
17 5    3
18 6    3
19 1    4
20 2    4
21 3    4
22 4    4
23 5    4
24 6    4
25 1    5
26 2    5
27 3    5
28 4    5
29 5    5
30 6    5
31 1    6
32 2    6
33 3    6
34 4    6
35 5    6
36 6    6

In [5]:
rolls$value <- rolls$Var1 + rolls$Var2

In [6]:
rolls

   Var1 Var2 value
1  1    1     2
2  2    1     3
3  3    1     4
4  4    1     5
5  5    1     6
6  6    1     7
7  1    2     3
8  2    2     4
9  3    2     5
10 4    2     6
11 5    2     7
12 6    2     8
13 1    3     4
14 2    3     5
15 3    3     6
16 4    3     7
17 5    3     8
18 6    3     9
19 1    4     5
20 2    4     6
21 3    4     7
22 4    4     8
23 5    4     9
24 6    4    10
25 1    5     6
26 2    5     7
27 3    5     8
28 4    5     9
29 5    5    10
30 6    5    11
31 1    6     7
32 2    6     8
33 3    6     9
34 4    6    10
35 5    6    11
36 6    6    12

In [7]:
prob <- c("DD" = 0.03, "7" = 0.03, "BBB" = 0.06, "BB" = 0.1, "B" = 0.25, "C" = 0.01, "0" = 0.52)

In [8]:
get_symbols <- function() { 
    sample(wheel, size = 3, replace = TRUE, prob = prob ) 
}

In [9]:
combos <- expand.grid(wheel, wheel, wheel, stringsAsFactors = FALSE)

In [15]:
head(combos)

  Var1 Var2 Var3 prob1 prob3 prob2
1 DD   DD   DD   0.03  0.03  0.03
2 7    DD   DD   0.03  0.03  0.03
3 BBB  DD   DD   0.06  0.03  0.03
4 BB   DD   DD   0.10  0.03  0.03
5 B    DD   DD   0.25  0.03  0.03
6 C    DD   DD   0.01  0.03  0.03

In [11]:
combos$prob1 <- prob[combos$Var1]

In [12]:
head(combos)

  Var1 Var2 Var3 prob1
1 DD   DD   DD   0.03
2 7    DD   DD   0.03
3 BBB  DD   DD   0.06
4 BB   DD   DD   0.10
5 B    DD   DD   0.25
6 C    DD   DD   0.01

In [14]:
combos$prob2 <- prob[combos$Var2]

In [13]:
combos$prob3 <- prob[combos$Var3]

In [16]:
combos$prob <- combos$prob1 * combos$prob2 * combos$prob3

In [17]:
head(combos)

  Var1 Var2 Var3 prob1 prob3 prob2 prob
1 DD   DD   DD   0.03  0.03  0.03  0.000027
2 7    DD   DD   0.03  0.03  0.03  0.000027
3 BBB  DD   DD   0.06  0.03  0.03  0.000054
4 BB   DD   DD   0.10  0.03  0.03  0.000090
5 B    DD   DD   0.25  0.03  0.03  0.000225
6 C    DD   DD   0.01  0.03  0.03  0.000009

In [18]:
sum(combos$prob)

[1] 1

In [20]:
class(combos)

[1] "data.frame"